/* Colors
=================== */
$accent: #D12E2E;
$dark:   #0D0D0D;
$gray:   #3B3B3B;
$light:  #D9D9D9;
$white:  #fff;

/* Fonts
=================== */

$text:    'Montserrat', sans-serif;
$heading: 'Montserrat', sans-serif;

/* Media queries
=================== */
$tablet:    995px;
$mobile:    670px;
$mobile-sm: 420px;
$mobile-xs: 350px;